<header class="header-fixed">
	<div class="header-limiter">
		<nav>
            <a href="/">Homepage</a>
            <a href="/portfolio">Portfolio</a>
			<a href="/about">About</a>
		</nav>
	</div>
</header>