<div class="page-home">
  <% for(var i=1; i < data.length; i++) { %>
    <h1 class="page-home__heading"><%= data[i].Headline %></h1>
    <p><%- data[i].Subheadline %></p>
    <div class="page-home__landing-image">
      <img class="page-home__landing-image--responsive" src="<%= data[i].Images %>"/>
      <img class="page-home__landing-image--main" src= "<%= data[i].__EMPTY %>"/>
    </div>
  <% } %>
  <div class="page-home__controls">
    <button class="page-home__controls--bottom" onClick="window.location='portfolio';">Check out my Portfolio</button>
    <button class="page-home__controls--bottom" onClick="window.location='about';">Read more about me</button>
  </div>
</div>